/* ---- CSS BEDANKING VOLTOOID -------*/
#getImage{
    display: block;
    margin-bottom: 50px;
}

.fb-share-button{
    margin-top: 5px;
    display: block;

}

.twitter-hashtag-button{
    margin-top: 5px;
    display: block;

}

