/* ----- IMPORTED CSS FILES ----- */

@import url('reset.css');


/* ----- GOOGLE WEB FONTS ----- */

@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);


/* ----- BASIC ELEMENTS ----- */

body {
	background-color: #FFFFFF;
	background-image: url(../images/theme/body-background.png);
	background-repeat: repeat-x;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #727271;
}

a {
    color: #BF2D23;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #BF2D23;
	text-decoration: underline;
	font-weight: bold;
}

p {
	margin: 0 0 1em 0;
}

.small {
	font-size: 12px;
}

h1 {
	font-size: 30px;
	font-weight: normal;
	color: #272726;
	margin: 0 0 1em 0;
	line-height: 1;
}


h3 {
	font-size: 15px;
	font-weight: bold;
	margin: 2em 0 1em 0;
}

ul, ol {
	margin: 0 0 1em 0;
	padding: 0 0 0 22px;
}

ul li {
    list-style-type: square;
}


input[type="text"], input[type="password"], input[type="email"] {
	width: 500px;
	height: 34px;
	padding: 0 5px 0 5px;
	margin: 0 0 1em 0;
	border: 1px solid #CECECE;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background-color: #F9F9F9;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #727271;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled, select:disabled {
    background-color: #EEEEEE;
    cursor: default;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
	background-color: #FFFFFF;
}

/* ----- IMAGE ELEMENTS ----- */

img {
	border: 0;
	float: left;


}

img.border {
	border: 1px solid #CBCBCB;
	margin: 0 0 1em 0;
	padding: 3px;
	background-color: #FFFFFF;
}

img.no_margins {
	border: 0;
	margin: 0;
}

img.no_margins_border {
	border: 1px solid #CBCBCB;
	margin: 0;
	padding: 10px;
	background-color: #FFFFFF;
}

img.left_align {
	margin: 0 1em 2em 0;
	float: left;
}

img.right_align {
	margin: 0 0 2em 1em;
	float: right;
}

img.left_align_border {
	margin: 0 1em 2em 0;
	float: left;
	border: 1px solid #CBCBCB;
	padding: 10px;
	background-color: #FFFFFF;
}

img.right_align_border {
	margin: 0 0 2em 1em;
	float: right;
	border: 1px solid #CBCBCB;
	padding: 10px;
	background-color: #FFFFFF;
}


/* ----- HEADER ELEMENTS ----- */

#pageheader {
	position: relative;
	height: 430px;
	overflow: hidden;
}

#pageheader header {
	position: fixed;
	width: 100%;
	height: 72px;
	top: 0;
	z-index: 52;
	background-color: rgba(255,255,255,0.6);
	-moz-transition: background-color 0.25s ease-in-out;
   	-webkit-transition: background-color 0.25s ease-in-out;
   	transition: background-color 0.25s ease-in-out;
}

/* ----- SLIDESHOW ELEMENTS ----- */

#slideshow {
	position: relative;
	width: 100%;
	height: 430px;
	z-index: 0;
	overflow: hidden;
}

#slideshow ul {
	width: 100%;
	height: 430px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#slideshow ul li {
    height: 430px;
	margin: 0;
	padding: 0;
}

#slideshow img {
	width: 100%;
	height: auto;	
}


/* ----- HEADER NAVIGATION ELEMENTS ----- */

#topnav {
	width: 1200px;
	margin: 0 auto 0 auto;
}

#topnav ul {
	margin: 0;
	padding: 0;
}

#topnav ul li {
	float: left;
	list-style-type: none;
}

#topnav ul li a {
	display: block;
	height: 72px;
	line-height: 72px;
	padding: 0 20px 0 20px;
	font-size: 12px;
	text-transform: uppercase;
	color: #272726;
}

#topnav ul li a:hover, #topnav ul li.active a:hover {
	background-color: #BF2D23;
	color: #FFFFFF;
	text-decoration: none;
}

#topnav ul li.active a {
	background-color: rgba(249,249,249,0.90);
	color: #272726;	
	text-decoration: none;
}

#contactlinks {
	float: right;
	width: 172px;
	height: 43px;
	margin: 13px 30px 0 0;
}

#contactlinks a.contact {
	display: block;
	float: left;
	width: 86px;
	height: 43px;
	background-image: url(../images/theme/contactlinks-background.png);
	background-position: 0 0;
	color: transparent;
}

#contactlinks a.facebook {
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background-image: url(../images/theme/contactlinks-background.png);
	background-position: -129px 0;
	color: transparent;	
}

#contactlinks a.twitter {
	display: block;
	float: left;
	width: 43px;
	height: 43px;
	background-image: url(../images/theme/contactlinks-background.png);
	background-position: -86px 0;
	color: transparent;	
}

/* ----- MAIN ELEMENTS ----- */

#main {
	position: relative;
	min-height: 400px;
	width: 1150px;
	margin: -150px auto 0 auto;
	padding: 10px 0 0 0;
	overflow: hidden;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.97);
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
}

div.content {
	margin: 0 40px 2em 40px;
	border-bottom: 1px solid #E3E3E3;
	overflow: hidden;	
}

div.content:last-child {
	border: 0;
}


div.column {
	float: left;
	width: 330px;
	/*height: 360px;*/
	margin: 0 40px 2em 0;
}

/* ----- EVENT AND NEWS PAGE SPECIFIC ELEMENTS ----- */

article {
    overflow: hidden;
}

/* ----- FOOTER ELEMENTS ----- */

#pagefooter {
	position: relative;
	min-height: 285px;
	overflow: hidden;
	background-color: #E2E2E2;
}

#pagefooter footer {
	width: 1150px;
	height: 120px;
	overflow: hidden;
	margin: 60px auto 0 auto;
	background-color: #FFFFFF;
}

#partnerlogos {
	float: left;
	width: 450px;
	height: 100px;
	padding: 10px 20px 10px 20px;
}

#partnerlogos_top {
    border-bottom: 1px solid #E3E3E3;
    margin: 0 0 5px 0;
}

#partnerlogos_bottom {
    text-align: right;
}

#partnerlogos img {
    vertical-align: middle;
}

#contactdetails {
	float: left;
	width: 330px;
	height: 100px;
	text-align: center;
	padding: 10px 0 10px 0;
}

#socialmedia {
	float: left;
	width: 330px;
	height: 100px;
	text-align: center;
	padding: 10px 0 10px 0;
}

#legal {
	width: 1110px;
	overflow: hidden;
	padding: 0 20px 0 20px;
	margin: 1em auto 1em auto;	
}

#development {
	width: 200px;
	float: right;
	text-align: right;
	margin: 0 10px 10px 0;
}

#development a {
	display: inline-block;
	height: 32px;
    line-height: 32px;
	padding: 15px 10px 18px 28px;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: left center;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	background-image: url(../images/theme/fecora_logo.png);
	background-size: 25px 25px;
	filter: alpha(opacity=50);
	-moz-opacity: .50;
	opacity: .50;
	color: #727271;
}

#development a:hover, #development a:focus, #development a:active {
	background-image: url(../images/theme/fecora_logo.png);
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	color: #BF2D23;
}

#contactdetails h3, #socialmedia h3, #legal h3, #development h3 {
	color: #BF2D23;
	font-size: 12px;
	text-transform: uppercase;
}

#contactdetails p, #socialmedia p, #legal p, #development p {
	color: #8D8D8D;
	font-size: 12px;
	margin: 0;
}

#contactdetails a, #socialmedia a, #legal p {
	color: #8D8D8D;
}


/* ----- FOOTER NAVIGATION ELEMENTS ----- */

#footernav {
	width: 1110px;
	overflow: hidden;
	padding: 0 20px 0 20px;
	margin: 1em auto 1em auto;
}

#footernav ul {
	margin: 0;
	padding: 0;	
}

#footernav ul li {
	float: left;	
	list-style-type: none;
}

#footernav ul li:before {
	content: '-';
	margin: 0 5px 0 5px;
}

#footernav ul:first-child li:first-child:before {
	content: normal;
	margin: 0;
}

#footernav ul li a {
	color: #272726;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;	
}

/* ----- MEDIA QUERY BASE LAYOUT SMALLER ----- */

@media screen and (max-width: 1199px) {
    #topnav {
        width: 100%;
    }

    #main {
        width: 100%;
        -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	    border-radius: 0;
    }

    div.content main {
        width: 67%;
    }

    div.content aside {
        width: 33%;
    }

    div.column {
    }
}

/* ----- MEDIA QUERY BASE LAYOUT 1 COLUMN ----- */

@media screen and (max-width: 1023px) {
}

/* ----- MEDIA QUERY BASE LAYOUT 1 COLUMN SMALL SCREENS ----- */

@media screen and (max-width: 449px) {
}

/* ----- Fecora ----- */
#titleContent{
	text-align: center;
}
